<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarefa 04</title>
</head>
<body>
  <nav>
    <p>Home</p>
  </nav>
  {{{body}}}
</body>
</html>