<div class="productId">
  <p>Nome do produto: <span>{{product.title}}</span></p>
  <p>Descrição: <span>{{product.description}}</span></p>
  <p>Valor: R$ {{product.price}}</p>  
  <a href="/">voltar</a>
</div>
